{% extends 'dashboard/base.html' %}

{% block content %}


<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">SHOP</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Dashboard</a>
                <a class="breadcrumb-item" href="#">Product</a>
                <span class="breadcrumb-item active">Ro`yxat</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>Enter Productlar ro`yxati</h4>
            
            <div class="m-t-25">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Harakatlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{product.category.name}}</td>
                                <td>{{product.name}}</td>
                                <td>
                                    <a href="{% url 'dashboard:detail_product_enter' product.code %}" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}